<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingguang.finance.wdrl.mapper.WdrlApplyMapper" >
    <resultMap id="BaseResultMap" type="com.xingguang.finance.wdrl.entity.WdrlApplyEntity" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="cus_user_id" property="cusUserId" jdbcType="BIGINT" />
        <result column="cus_user_name" property="cusUserName" jdbcType="VARCHAR" />
        <result column="bank_card_id" property="bankCardId" jdbcType="BIGINT" />
        <result column="reserve_phone" property="reservePhone" jdbcType="VARCHAR" />
        <result column="amount" property="amount" jdbcType="DECIMAL" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="auditor_id" property="auditorId" jdbcType="BIGINT" />
        <result column="auditor_name" property="auditorName" jdbcType="VARCHAR" />
        <result column="auditor_time" property="auditorTime" jdbcType="TIMESTAMP" />
        <result column="operator_id" property="operatorId" jdbcType="BIGINT" />
        <result column="operator_name" property="operatorName" jdbcType="VARCHAR" />
        <result column="issue_time" property="issueTime" jdbcType="TIMESTAMP" />
        <result column="product_id" property="productId" jdbcType="BIGINT" />
        <result column="term_id" property="termId" jdbcType="BIGINT" />
        <result column="service_charge" property="serviceCharge" jdbcType="DECIMAL" />
        <result column="acc_mgmt_charge" property="accMgmtCharge" jdbcType="DECIMAL" />
    </resultMap>

    <resultMap id="BaseResultMapCustom" type="com.xingguang.finance.wdrl.entity.custom.WdrlApplyEntityCustom" extends="BaseResultMap">
        <result column="status_name" property="statusName" jdbcType="VARCHAR" />
        <result column="credit_status" property="creditStatus" jdbcType="VARCHAR" />
        <result column="credit_status_name" property="creditStatusName" jdbcType="VARCHAR" />
        <result column="product_name" property="productName" jdbcType="VARCHAR" />
        <result column="term_name" property="termName" jdbcType="VARCHAR" />
        <result column="pay_amount" property="payAmount" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        t1.id, t1.cus_user_id, t1.cus_user_name, t1.bank_card_id, t1.reserve_phone, t1.amount, t1.create_time, t1.status,
        t1.auditor_id, t1.auditor_name, t1.auditor_time, t1.operator_id, t1.operator_name,
        t1.issue_time, t1.product_id, t1.term_id, t1.service_charge, t1.acc_mgmt_charge,
         if(t1.status='10','待审核',if(t1.status='20','审核不通过',if(t1.status=30,'待放款',if(t1.status=40,'已放款',if(t1.status=50,'终止放款','结清'))))) status_name,
        (select name from product_info where id = t1.product_id) product_name,
        (select term_name from product_term_info where id = t1.term_id) term_name
    </sql>

    <select id="findAuditApplyList" parameterType="com.xingguang.finance.wdrl.entity.WdrlApplyEntity" resultMap="BaseResultMapCustom" >
        SELECT
        <include refid="Base_Column_List" />
        FROM wdrl_apply t1
        WHERE t1.status = 10
        <if test="cusUserName != null" >
            AND t1.cus_user_name LIKE CONCAT(CONCAT('%', #{cusUserName}), '%')
        </if>
        ORDER BY t1.create_time desc
    </select>

    <select id="findPayApplyList" parameterType="com.xingguang.finance.wdrl.entity.WdrlApplyEntity" resultMap="BaseResultMapCustom" >
        SELECT
        <include refid="Base_Column_List" />,
        t2.status credit_status,if(t2.status=1,'正常','锁定') credit_status_name
        FROM wdrl_apply t1
        INNER JOIN credit_info t2 on t1.cus_user_id = t2.cus_user_id
        WHERE t1.status = 30
        <if test="cusUserName != null" >
            AND t1.cus_user_name LIKE CONCAT(CONCAT('%', #{cusUserName}), '%')
        </if>
        ORDER BY t1.create_time desc
    </select>

    <select id="findPayDoneList" parameterType="com.xingguang.finance.wdrl.entity.WdrlApplyEntity" resultMap="BaseResultMapCustom" >
        SELECT
        <include refid="Base_Column_List" />,
        t1.amount-t1.service_charge pay_amount
        FROM wdrl_apply t1
        WHERE t1.status = 40
        <if test="cusUserName != null" >
            AND t1.cus_user_name LIKE CONCAT(CONCAT('%', #{cusUserName}), '%')
        </if>
        ORDER BY t1.create_time desc
    </select>

    <select id="findWdrlApplyById" parameterType="java.lang.Long" resultMap="BaseResultMapCustom">
        SELECT
        <include refid="Base_Column_List" />
        FROM wdrl_apply t1
        WHERE t1.id = #{id,jdbcType=BIGINT}
    </select>

    <select id="findWdrlApplyByCusId" parameterType="java.lang.Long" resultMap="BaseResultMapCustom">
        SELECT
        <include refid="Base_Column_List" />
        FROM wdrl_apply t1
        WHERE t1.cus_user_id = #{cusUserId,jdbcType=BIGINT}
        order by t1.create_time desc
    </select>

    <update id="updateWdrlApply" parameterType="com.xingguang.finance.wdrl.entity.WdrlApplyEntity">
        UPDATE wdrl_apply
        <set>
            <if test="status != null" >
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="auditorId != null" >
                auditor_id = #{auditorId,jdbcType=BIGINT},
            </if>
            <if test="auditorName != null" >
                auditor_name = #{auditorName,jdbcType=BIGINT},
            </if>
            <if test="auditorTime != null" >
                auditor_time = #{auditorTime,jdbcType=BIGINT},
            </if>
            <if test="operatorId != null" >
                operator_id = #{operatorId,jdbcType=BIGINT},
            </if>
            <if test="operatorName != null" >
                operator_name = #{operatorName,jdbcType=VARCHAR},
            </if>
            <if test="issueTime != null" >
                issue_time = #{issueTime,jdbcType=TIMESTAMP},
            </if>
            <if test="serviceCharge != null" >
                service_charge = #{serviceCharge,jdbcType=TIMESTAMP},
            </if>
            <if test="accMgmtCharge != null" >
                acc_mgmt_charge = #{accMgmtCharge,jdbcType=TIMESTAMP},
            </if>
        </set>
        WHERE id = #{id,jdbcType=BIGINT}
    </update>

</mapper>