<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingguang.grid.mapper.JxlGridIdcardWithOtherPhonesMapper">
  <resultMap id="BaseResultMap" type="com.xingguang.grid.entity.JxlGridIdcardWithOtherPhonesEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="biz_id" jdbcType="BIGINT" property="bizId" />
    <result column="grid_id" jdbcType="BIGINT" property="gridId" />
    <result column="susp_phone_province" jdbcType="VARCHAR" property="suspPhoneProvince" />
    <result column="susp_phone_operator" jdbcType="VARCHAR" property="susp{honeOperator" />
    <result column="susp_updt" jdbcType="VARCHAR" property="suspUpdt" />
    <result column="susp_phone" jdbcType="VARCHAR" property="suspPhone" />
    <result column="susp_phone_city" jdbcType="VARCHAR" property="suspPhoneCity" />
  </resultMap>

  <delete id="deleteIdcardWithOtherPhonesByBizId" parameterType="java.lang.Long">
    DELETE FROM jxl_grid_idcard_with_other_phones WHERE biz_id=#{bizId}
  </delete>

  <insert id="insertIdcardWithOtherPhones" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO jxl_grid_idcard_with_other_phones (biz_id, grid_id, susp_phone_province, susp_phone_operator, susp_updt, susp_phone,susp_phone_city)
    VALUES
    <foreach collection="list" index="index" item="idcard" separator=",">
    (#{idcard.bizId}, #{idcard.gridId}, #{idcard.suspPhoneProvince}, #{idcard.suspPhoneOperator}, #{idcard.suspUpdt}, #{idcard.suspPhone}, #{idcard.suspPhoneCity})
    </foreach>
  </insert>

</mapper>