<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingguang.customer.info.mapper.CusUserInfoMapper" >
    <resultMap id="BaseResultMap" type="com.xingguang.customer.info.entity.CusUserInfoEntity" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="id_no" property="idNo" jdbcType="VARCHAR" />
        <result column="real_status" property="realStatus" jdbcType="INTEGER" />
        <result column="sex" property="sex" jdbcType="INTEGER" />
        <result column="income" property="income" jdbcType="DECIMAL" />
        <result column="education" property="education" jdbcType="BIGINT" />
        <result column="occupation" property="occupation" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="work_user_id" property="workUserId" jdbcType="BIGINT" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, phone, name, id_no, real_status, sex, income, education, occupation, create_time, work_user_id
    </sql>

    <insert id="insertCusUserInfo" parameterType="com.xingguang.customer.info.entity.CusUserInfoEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO cus_user_info (phone,create_time)
        VALUES (#{phone,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP})
    </insert>

</mapper>