<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xingguang.customer.product.mapper.ProductInfoMapper">
  <resultMap id="BaseResultMap" type="com.xingguang.customer.product.entity.ProductInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="service_rate" jdbcType="DECIMAL" property="serviceRate" />
    <result column="acc_mgmt_rate" jdbcType="DECIMAL" property="accMgmtRate" />
    <result column="penalty_ratio" jdbcType="DECIMAL" property="penaltyRatio" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="up_time" jdbcType="TIMESTAMP" property="upTime" />
    <result column="down_time" jdbcType="TIMESTAMP" property="downTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, service_rate, acc_mgmt_rate, penalty_ratio, status, create_user_id, create_user_name, 
    create_time, up_time, down_time
  </sql>
  <select id="selectByExample" parameterType="com.xingguang.customer.product.entity.ProductInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from product_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${limit} offset ${offset}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from product_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.xingguang.customer.product.entity.ProductInfoExample">
    delete from product_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.xingguang.customer.product.entity.ProductInfo" useGeneratedKeys="true">
    insert into product_info (name, service_rate, acc_mgmt_rate, 
      penalty_ratio, status, create_user_id, 
      create_user_name, create_time, up_time, 
      down_time)
    values (#{name,jdbcType=VARCHAR}, #{serviceRate,jdbcType=DECIMAL}, #{accMgmtRate,jdbcType=DECIMAL}, 
      #{penaltyRatio,jdbcType=DECIMAL}, #{status,jdbcType=INTEGER}, #{createUserId,jdbcType=BIGINT}, 
      #{createUserName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{upTime,jdbcType=TIMESTAMP}, 
      #{downTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.xingguang.customer.product.entity.ProductInfo" useGeneratedKeys="true">
    insert into product_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="serviceRate != null">
        service_rate,
      </if>
      <if test="accMgmtRate != null">
        acc_mgmt_rate,
      </if>
      <if test="penaltyRatio != null">
        penalty_ratio,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createUserName != null">
        create_user_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="upTime != null">
        up_time,
      </if>
      <if test="downTime != null">
        down_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="serviceRate != null">
        #{serviceRate,jdbcType=DECIMAL},
      </if>
      <if test="accMgmtRate != null">
        #{accMgmtRate,jdbcType=DECIMAL},
      </if>
      <if test="penaltyRatio != null">
        #{penaltyRatio,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null">
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="upTime != null">
        #{upTime,jdbcType=TIMESTAMP},
      </if>
      <if test="downTime != null">
        #{downTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xingguang.customer.product.entity.ProductInfoExample" resultType="java.lang.Long">
    select count(*) from product_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update product_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceRate != null">
        service_rate = #{record.serviceRate,jdbcType=DECIMAL},
      </if>
      <if test="record.accMgmtRate != null">
        acc_mgmt_rate = #{record.accMgmtRate,jdbcType=DECIMAL},
      </if>
      <if test="record.penaltyRatio != null">
        penalty_ratio = #{record.penaltyRatio,jdbcType=DECIMAL},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.createUserId != null">
        create_user_id = #{record.createUserId,jdbcType=BIGINT},
      </if>
      <if test="record.createUserName != null">
        create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.upTime != null">
        up_time = #{record.upTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.downTime != null">
        down_time = #{record.downTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update product_info
    set id = #{record.id,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      service_rate = #{record.serviceRate,jdbcType=DECIMAL},
      acc_mgmt_rate = #{record.accMgmtRate,jdbcType=DECIMAL},
      penalty_ratio = #{record.penaltyRatio,jdbcType=DECIMAL},
      status = #{record.status,jdbcType=INTEGER},
      create_user_id = #{record.createUserId,jdbcType=BIGINT},
      create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      up_time = #{record.upTime,jdbcType=TIMESTAMP},
      down_time = #{record.downTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xingguang.customer.product.entity.ProductInfo">
    update product_info
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="serviceRate != null">
        service_rate = #{serviceRate,jdbcType=DECIMAL},
      </if>
      <if test="accMgmtRate != null">
        acc_mgmt_rate = #{accMgmtRate,jdbcType=DECIMAL},
      </if>
      <if test="penaltyRatio != null">
        penalty_ratio = #{penaltyRatio,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null">
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="upTime != null">
        up_time = #{upTime,jdbcType=TIMESTAMP},
      </if>
      <if test="downTime != null">
        down_time = #{downTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xingguang.customer.product.entity.ProductInfo">
    update product_info
    set name = #{name,jdbcType=VARCHAR},
      service_rate = #{serviceRate,jdbcType=DECIMAL},
      acc_mgmt_rate = #{accMgmtRate,jdbcType=DECIMAL},
      penalty_ratio = #{penaltyRatio,jdbcType=DECIMAL},
      status = #{status,jdbcType=INTEGER},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      up_time = #{upTime,jdbcType=TIMESTAMP},
      down_time = #{downTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>