<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xingguang.customer.info.mapper.CusUserInfoMapper">
  <resultMap id="BaseResultMap" type="com.xingguang.customer.info.entity.CusUserInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="id_no" jdbcType="VARCHAR" property="idNo" />
    <result column="real_status" jdbcType="INTEGER" property="realStatus" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="income" jdbcType="INTEGER" property="income" />
    <result column="education" jdbcType="INTEGER" property="education" />
    <result column="occupation" jdbcType="INTEGER" property="occupation" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="work_user_id" jdbcType="BIGINT" property="workUserId" />
    <result column="work_user_name" jdbcType="VARCHAR" property="workUserName" />
    <result column="head_img_url" jdbcType="VARCHAR" property="headImgUrl" />
    <result column="real_img1_url" jdbcType="VARCHAR" property="realImg1Url" />
    <result column="real_img2_url" jdbcType="VARCHAR" property="realImg2Url" />
    <result column="real_img3_url" jdbcType="VARCHAR" property="realImg3Url" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="home_addr" jdbcType="VARCHAR" property="homeAddr" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="company_addr" jdbcType="VARCHAR" property="companyAddr" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, phone, name, id_no, real_status, sex, income, education, occupation, status, 
    create_time, work_user_id, work_user_name, head_img_url, real_img1_url, real_img2_url, 
    real_img3_url, open_id, home_addr, company_name, company_addr
  </sql>
  <select id="selectByExample" parameterType="com.xingguang.customer.info.entity.CusUserInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cus_user_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${limit} offset ${offset}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cus_user_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from cus_user_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.xingguang.customer.info.entity.CusUserInfoExample">
    delete from cus_user_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.xingguang.customer.info.entity.CusUserInfo" useGeneratedKeys="true">
    insert into cus_user_info (phone, name, id_no, 
      real_status, sex, income, 
      education, occupation, status, 
      create_time, work_user_id, work_user_name, 
      head_img_url, real_img1_url, real_img2_url, 
      real_img3_url, open_id, home_addr, 
      company_name, company_addr)
    values (#{phone,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{idNo,jdbcType=VARCHAR}, 
      #{realStatus,jdbcType=INTEGER}, #{sex,jdbcType=INTEGER}, #{income,jdbcType=INTEGER}, 
      #{education,jdbcType=INTEGER}, #{occupation,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{workUserId,jdbcType=BIGINT}, #{workUserName,jdbcType=VARCHAR}, 
      #{headImgUrl,jdbcType=VARCHAR}, #{realImg1Url,jdbcType=VARCHAR}, #{realImg2Url,jdbcType=VARCHAR}, 
      #{realImg3Url,jdbcType=VARCHAR}, #{openId,jdbcType=VARCHAR}, #{homeAddr,jdbcType=VARCHAR}, 
      #{companyName,jdbcType=VARCHAR}, #{companyAddr,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.xingguang.customer.info.entity.CusUserInfo" useGeneratedKeys="true">
    insert into cus_user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="phone != null">
        phone,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="idNo != null">
        id_no,
      </if>
      <if test="realStatus != null">
        real_status,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="income != null">
        income,
      </if>
      <if test="education != null">
        education,
      </if>
      <if test="occupation != null">
        occupation,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="workUserId != null">
        work_user_id,
      </if>
      <if test="workUserName != null">
        work_user_name,
      </if>
      <if test="headImgUrl != null">
        head_img_url,
      </if>
      <if test="realImg1Url != null">
        real_img1_url,
      </if>
      <if test="realImg2Url != null">
        real_img2_url,
      </if>
      <if test="realImg3Url != null">
        real_img3_url,
      </if>
      <if test="openId != null">
        open_id,
      </if>
      <if test="homeAddr != null">
        home_addr,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="companyAddr != null">
        company_addr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="idNo != null">
        #{idNo,jdbcType=VARCHAR},
      </if>
      <if test="realStatus != null">
        #{realStatus,jdbcType=INTEGER},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="income != null">
        #{income,jdbcType=INTEGER},
      </if>
      <if test="education != null">
        #{education,jdbcType=INTEGER},
      </if>
      <if test="occupation != null">
        #{occupation,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="workUserId != null">
        #{workUserId,jdbcType=BIGINT},
      </if>
      <if test="workUserName != null">
        #{workUserName,jdbcType=VARCHAR},
      </if>
      <if test="headImgUrl != null">
        #{headImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="realImg1Url != null">
        #{realImg1Url,jdbcType=VARCHAR},
      </if>
      <if test="realImg2Url != null">
        #{realImg2Url,jdbcType=VARCHAR},
      </if>
      <if test="realImg3Url != null">
        #{realImg3Url,jdbcType=VARCHAR},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="homeAddr != null">
        #{homeAddr,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyAddr != null">
        #{companyAddr,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xingguang.customer.info.entity.CusUserInfoExample" resultType="java.lang.Long">
    select count(*) from cus_user_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cus_user_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.idNo != null">
        id_no = #{record.idNo,jdbcType=VARCHAR},
      </if>
      <if test="record.realStatus != null">
        real_status = #{record.realStatus,jdbcType=INTEGER},
      </if>
      <if test="record.sex != null">
        sex = #{record.sex,jdbcType=INTEGER},
      </if>
      <if test="record.income != null">
        income = #{record.income,jdbcType=INTEGER},
      </if>
      <if test="record.education != null">
        education = #{record.education,jdbcType=INTEGER},
      </if>
      <if test="record.occupation != null">
        occupation = #{record.occupation,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.workUserId != null">
        work_user_id = #{record.workUserId,jdbcType=BIGINT},
      </if>
      <if test="record.workUserName != null">
        work_user_name = #{record.workUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.headImgUrl != null">
        head_img_url = #{record.headImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.realImg1Url != null">
        real_img1_url = #{record.realImg1Url,jdbcType=VARCHAR},
      </if>
      <if test="record.realImg2Url != null">
        real_img2_url = #{record.realImg2Url,jdbcType=VARCHAR},
      </if>
      <if test="record.realImg3Url != null">
        real_img3_url = #{record.realImg3Url,jdbcType=VARCHAR},
      </if>
      <if test="record.openId != null">
        open_id = #{record.openId,jdbcType=VARCHAR},
      </if>
      <if test="record.homeAddr != null">
        home_addr = #{record.homeAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.companyName != null">
        company_name = #{record.companyName,jdbcType=VARCHAR},
      </if>
      <if test="record.companyAddr != null">
        company_addr = #{record.companyAddr,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cus_user_info
    set id = #{record.id,jdbcType=BIGINT},
      phone = #{record.phone,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      id_no = #{record.idNo,jdbcType=VARCHAR},
      real_status = #{record.realStatus,jdbcType=INTEGER},
      sex = #{record.sex,jdbcType=INTEGER},
      income = #{record.income,jdbcType=INTEGER},
      education = #{record.education,jdbcType=INTEGER},
      occupation = #{record.occupation,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      work_user_id = #{record.workUserId,jdbcType=BIGINT},
      work_user_name = #{record.workUserName,jdbcType=VARCHAR},
      head_img_url = #{record.headImgUrl,jdbcType=VARCHAR},
      real_img1_url = #{record.realImg1Url,jdbcType=VARCHAR},
      real_img2_url = #{record.realImg2Url,jdbcType=VARCHAR},
      real_img3_url = #{record.realImg3Url,jdbcType=VARCHAR},
      open_id = #{record.openId,jdbcType=VARCHAR},
      home_addr = #{record.homeAddr,jdbcType=VARCHAR},
      company_name = #{record.companyName,jdbcType=VARCHAR},
      company_addr = #{record.companyAddr,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xingguang.customer.info.entity.CusUserInfo">
    update cus_user_info
    <set>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="idNo != null">
        id_no = #{idNo,jdbcType=VARCHAR},
      </if>
      <if test="realStatus != null">
        real_status = #{realStatus,jdbcType=INTEGER},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="income != null">
        income = #{income,jdbcType=INTEGER},
      </if>
      <if test="education != null">
        education = #{education,jdbcType=INTEGER},
      </if>
      <if test="occupation != null">
        occupation = #{occupation,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="workUserId != null">
        work_user_id = #{workUserId,jdbcType=BIGINT},
      </if>
      <if test="workUserName != null">
        work_user_name = #{workUserName,jdbcType=VARCHAR},
      </if>
      <if test="headImgUrl != null">
        head_img_url = #{headImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="realImg1Url != null">
        real_img1_url = #{realImg1Url,jdbcType=VARCHAR},
      </if>
      <if test="realImg2Url != null">
        real_img2_url = #{realImg2Url,jdbcType=VARCHAR},
      </if>
      <if test="realImg3Url != null">
        real_img3_url = #{realImg3Url,jdbcType=VARCHAR},
      </if>
      <if test="openId != null">
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="homeAddr != null">
        home_addr = #{homeAddr,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyAddr != null">
        company_addr = #{companyAddr,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xingguang.customer.info.entity.CusUserInfo">
    update cus_user_info
    set phone = #{phone,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      id_no = #{idNo,jdbcType=VARCHAR},
      real_status = #{realStatus,jdbcType=INTEGER},
      sex = #{sex,jdbcType=INTEGER},
      income = #{income,jdbcType=INTEGER},
      education = #{education,jdbcType=INTEGER},
      occupation = #{occupation,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      work_user_id = #{workUserId,jdbcType=BIGINT},
      work_user_name = #{workUserName,jdbcType=VARCHAR},
      head_img_url = #{headImgUrl,jdbcType=VARCHAR},
      real_img1_url = #{realImg1Url,jdbcType=VARCHAR},
      real_img2_url = #{realImg2Url,jdbcType=VARCHAR},
      real_img3_url = #{realImg3Url,jdbcType=VARCHAR},
      open_id = #{openId,jdbcType=VARCHAR},
      home_addr = #{homeAddr,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      company_addr = #{companyAddr,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>