<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingguang.cus.linkinfo.mapper.CusUserLinkMapper" >
    <resultMap id="BaseResultMap" type="com.xingguang.cus.linkinfo.entity.CusUserLinkEntity" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="cus_user_id" property="cusUserId" jdbcType="BIGINT" />
        <result column="link_name" property="linkName" jdbcType="VARCHAR" />
        <result column="relation_id" property="relationId" jdbcType="BIGINT" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <resultMap id="BaseResultMapCustom" type="com.xingguang.cus.linkinfo.entity.custom.CusUserLinkEntityCustom" extends="BaseResultMap">
        <result column="relation_name" property="relationName" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, cus_user_id, link_name, relation_id, phone, create_time
    </sql>

    <select id="findCusUserLinkByUserId" parameterType="java.lang.Long" resultMap="BaseResultMapCustom" >
            SELECT
            <include refid="Base_Column_List" />,
          (select name from code_info where type_id=102 and code = relation_id) relation_name
            FROM cus_user_link
            WHERE cus_user_id = #{userId}
        </select>

</mapper>