<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingguang.cus.baseinfo.mapper.CusUserInfoMapper" >
    <resultMap id="BaseResultMap" type="com.xingguang.cus.baseinfo.entity.CusUserInfoEntity" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="id_no" property="idNo" jdbcType="VARCHAR" />
        <result column="real_status" property="realStatus" jdbcType="INTEGER" />
        <result column="sex" property="sex" jdbcType="INTEGER" />
        <result column="income" property="income" jdbcType="VARCHAR" />
        <result column="education" property="education" jdbcType="VARCHAR" />
        <result column="occupation" property="occupation" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="work_user_id" property="workUserId" jdbcType="BIGINT" />
        <result column="work_user_name" property="workUserName" jdbcType="VARCHAR" />
        <result column="head_img_url" property="headImgUrl" jdbcType="VARCHAR" />
        <result column="real_img1_url" property="realImg1Url" jdbcType="VARCHAR" />
        <result column="real_img2_url" property="realImg2Url" jdbcType="VARCHAR" />
        <result column="real_img3_url" property="realImg3Url" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="BaseResultMapCustom" type="com.xingguang.cus.baseinfo.entity.custom.CusUserInfoEntityCustom" extends="BaseResultMap">
        <result column="sex_name" property="sexName" jdbcType="VARCHAR" />
        <result column="real_status_name" property="realStatusName" jdbcType="VARCHAR" />
        <result column="status_name" property="statusName" jdbcType="VARCHAR" />
        <result column="income_name" property="incomeName" jdbcType="VARCHAR" />
        <result column="education_name" property="educationName" jdbcType="VARCHAR" />
        <result column="occupation_name" property="occupationName" jdbcType="VARCHAR" />
        <result column="apply_id" property="applyId" jdbcType="BIGINT" />
        <result column="apply_time" property="applyTime" jdbcType="TIMESTAMP" />
        <result column="credit_time" property="creditTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, phone, name, id_no, real_status, sex, income, education, occupation, create_time,
        work_user_id, work_user_name, t3.label sex_name,if(real_status='1','已实名','未实名') real_status_name,
        if(status=10,'未提交',if(status=20,'已提交','未知状态')) status_name,
        head_img_url,real_img1_url,real_img2_url,real_img3_url
    </sql>

    <select id="findCusUserById" parameterType="java.lang.Long" resultMap="BaseResultMapCustom" >
            SELECT
            <include refid="Base_Column_List" />,
            (select name from code_info where type_id=103 and code = income) income_name,
            (select name from code_info where type_id=104 and code = education) education_name,
            (select name from code_info where type_id=105 and code = occupation) occupation_name
            FROM cus_user_info
            LEFT JOIN (select code,name label from code_info where type_id=101) t3 on sex = t3.code
            WHERE id = #{userId}
        </select>

    <select id="findCusUserList" parameterType="com.xingguang.cus.baseinfo.entity.CusUserInfoEntity" resultMap="BaseResultMapCustom">
        SELECT
        <include refid="Base_Column_List" />
        FROM cus_user_info
        LEFT JOIN (select code,name label from code_info where type_id=101) t3 on sex = t3.code
        WHERE 1=1
        <if test="name != null" >
            AND name LIKE CONCAT(CONCAT('%', #{name}), '%')
        </if>
        ORDER BY create_time desc
    </select>

    <select id="findCreditTodoCusUserList" parameterType="com.xingguang.cus.baseinfo.entity.CusUserInfoEntity" resultMap="BaseResultMapCustom">
        SELECT
        t1.*,t3.name sex_name,if(t1.real_status='1','已实名','未实名') real_status_name,
        t2.id apply_id, t2.create_time apply_time
        FROM cus_user_info t1
        INNER JOIN credit_apply t2 on t2.cus_user_id = t1.id
        LEFT JOIN (select code,name from code_info where type_id=101) t3 on sex = t3.code
        WHERE t1.status=20 and t2.status = 1
        <if test="name != null" >
            AND t1.name LIKE CONCAT(CONCAT('%', #{name}), '%')
        </if>
        ORDER BY t2.create_time desc
    </select>

    <select id="findMyCreditDoneCusUser" parameterType="com.xingguang.cus.baseinfo.entity.custom.CusUserInfoEntityCustom" resultMap="BaseResultMapCustom">
        SELECT
        t1.*,t3.name sex_name,if(t1.real_status='1','已实名','未实名') real_status_name,
        t2.id apply_id, t2.create_time apply_time, t2.credit_time
        FROM cus_user_info t1
        INNER JOIN credit_apply t2 on t2.cus_user_id = t1.id
        LEFT JOIN (select code,name from code_info where type_id=101) t3 on sex = t3.code
        WHERE t1.status=20 and t2.status in (2 , 3)
        <if test="name != null" >
            AND t1.name LIKE CONCAT(CONCAT('%', #{name}), '%')
        </if>
        <if test="creditUserId != null" >
            AND t2.credit_user_id = #{creditUserId}
        </if>
        ORDER BY t2.create_time desc
    </select>

    <update id="updateWorkUserById" parameterType="com.xingguang.work.baseinfo.entity.WorkUserInfoEntity">
        UPDATE work_user_info
        <set>
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="idNo != null" >
                id_no = #{idNo,jdbcType=VARCHAR},
            </if>
            <if test="sex != null" >
                sex = #{sex,jdbcType=INTEGER},
            </if>
            <if test="provinceId != null" >
                province_id = #{provinceId,jdbcType=BIGINT},
            </if>
            <if test="provinceName != null" >
                province_name = #{provinceName,jdbcType=VARCHAR},
            </if>
            <if test="cityId != null" >
                city_id = #{cityId,jdbcType=BIGINT},
            </if>
            <if test="cityName != null" >
                city_name = #{cityName,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="auditorId != null" >
                 auditor_id = #{auditorId,jdbcType=BIGINT},
            </if>
            <if test="auditorName != null" >
                auditor_name = #{auditorName,jdbcType=VARCHAR},
            </if>
            <if test="auditorTime != null" >
                auditor_time = #{auditorTime,jdbcType=TIMESTAMP},
            </if>
            <if test="enableStatus != null" >
                enable_status = #{enableStatus,jdbcType=INTEGER},
            </if>
            <if test="enableId != null" >
                enable_id = #{enableId,jdbcType=BIGINT},
            </if>
            <if test="enableName != null" >
                enable_name = #{enableName,jdbcType=VARCHAR},
            </if>
            <if test="enableTime != null" >
                enable_time = #{enableTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        WHERE id = #{id,jdbcType=BIGINT}
    </update>

</mapper>