<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingguang.cell.mapper.JxlBehaviorCheckMapper">
  <resultMap id="BaseResultMap" type="com.xingguang.cell.entity.JxlBehaviorCheckEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="rpt_id" jdbcType="BIGINT" property="rptId" />
    <result column="check_point" jdbcType="VARCHAR" property="checkPoint" />
    <result column="check_point_cn" jdbcType="VARCHAR" property="checkPointCn" />
    <result column="result" jdbcType="VARCHAR" property="result" />
    <result column="evidence" jdbcType="VARCHAR" property="evidence" />
    <result column="score" jdbcType="INTEGER" property="score" />
  </resultMap>

  <select id="getBehaviorCheckByBizId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    SELECT t1.*
    FROM jxl_behavior_check t1 , jxl_report t2
    WHERE t1.rpt_id = t2.id
    AND t2.biz_id = #{rptId}
  </select>

</mapper>