<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingguang.credit.mng.mapper.CreditMapper" >
    <resultMap id="BaseResultMap" type="com.xingguang.credit.mng.entity.CreditEntity" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="id_no" property="idNo" jdbcType="VARCHAR" />
        <result column="apply_time" property="applyTime" jdbcType="TIMESTAMP" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="status_name" property="statusName" jdbcType="VARCHAR" />
        <result column="credit_time" property="creditTime" jdbcType="TIMESTAMP" />
        <result column="amount" property="amount" jdbcType="DECIMAL" />
    </resultMap>


    <select id="findCreditList" parameterType="com.xingguang.credit.mng.entity.CreditEntity" resultMap="BaseResultMap">
        select t1.id ,t1.name,t1.phone,t1.id_no,t2.create_time apply_time,t2.status,if(t2.status='2','授信通过','授信不通过') status_name,t2.credit_time,t3.final_amount amount
        from cus_user_info t1
        inner join
        (SELECT a.id,a.cus_user_id,a.status,a.create_time,a.product_id,a.term_id,a.credit_time
        FROM credit_apply a INNER JOIN
        (SELECT MAX(id) id FROM credit_apply where status in (2,3) GROUP BY cus_user_id) b ON a.id = b.id) t2 on t1.id = t2.cus_user_id
        inner join credit_info t3 on t1.id = t3.cus_user_id
        where t1.status=20 and t3.status = 1
        <if test="status != null" >
          and t2.status = #{status}
        </if>
        <if test="name != null" >
          and t1.name LIKE CONCAT(CONCAT('%', #{name}), '%')
        </if>
        order by t2.credit_time
    </select>

    <update id="lockCreditByCusId" parameterType="java.lang.Long">
        update credit_info set status=2
        where cus_user_id = #{cusUserId}
    </update>


</mapper>