<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingguang.work.baseinfo.mapper.WorkUserInfoMapper" >
    <resultMap id="BaseResultMap" type="com.xingguang.work.baseinfo.entity.WorkUserInfoEntity" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="id_no" property="idNo" jdbcType="VARCHAR" />
        <result column="sex" property="sex" jdbcType="INTEGER" />
        <result column="province_id" property="provinceId" jdbcType="BIGINT" />
        <result column="province_name" property="provinceName" jdbcType="VARCHAR" />
        <result column="city_id" property="cityId" jdbcType="BIGINT" />
        <result column="city_name" property="cityName" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="auditor_id" property="auditorId" jdbcType="BIGINT" />
        <result column="auditor_name" property="auditorName" jdbcType="VARCHAR" />
        <result column="auditor_time" property="auditorTime" jdbcType="TIMESTAMP" />
        <result column="enable_status" property="enableStatus" jdbcType="INTEGER" />
        <result column="enable_id" property="enableId" jdbcType="BIGINT" />
        <result column="enable_name" property="enableName" jdbcType="VARCHAR" />
        <result column="enable_time" property="enableTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <resultMap id="BaseResultMapCustom" type="com.xingguang.work.baseinfo.entity.custom.WorkUserInfoEntityCustom" extends="BaseResultMap">
        <result column="sex_name" property="sexName" jdbcType="VARCHAR" />
        <result column="status_name" property="statusName" jdbcType="VARCHAR" />
        <result column="enable_status_name" property="enableStatusName" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        t1.id, t1.phone, t1.name, t1.id_no, t1.sex, t1.province_id, t1.province_name, t1.city_id, t1.city_name, t1.create_time,
        t1.status, t1.auditor_id, t1.auditor_name, t1.auditor_time, t1.enable_status, t1.enable_id, t1.enable_name, t1.enable_time,
        t3.label sex_name, if(t1.status='1','审核中',if(t1.status='2','审核通过','审核不通过')) status_name, if(t1.enable_status='0','启用','停用') enable_status_name
    </sql>

    <select id="findWorkUserById" parameterType="java.lang.Long" resultMap="BaseResultMapCustom" >
        SELECT
        <include refid="Base_Column_List" />
        FROM work_user_info t1
        LEFT JOIN (select code,name label from code_info where type_id=101) t3 on sex = t3.code
        WHERE t1.id = #{userId}
    </select>

    <select id="findWorkUserByCusId" parameterType="java.lang.Long" resultMap="BaseResultMapCustom" >
        SELECT
        <include refid="Base_Column_List" />
        FROM work_user_info t1
        INNER JOIN cus_user_info t2 on t1.id = t2.work_user_id
        LEFT JOIN (select code,name label from code_info where type_id=101) t3 on sex = t3.code
        WHERE t2.id = #{cusUserId}
    </select>

    <select id="findWorkUserList" parameterType="com.xingguang.work.baseinfo.entity.WorkUserInfoEntity" resultMap="BaseResultMapCustom">
        SELECT
        <include refid="Base_Column_List" />
        FROM work_user_info t1
        LEFT JOIN (select code,name label from code_info where type_id=101) t3 on sex = t3.code
        WHERE 1=1
        <if test="name != null" >
            AND t1.name LIKE CONCAT(CONCAT('%', #{name}), '%')
        </if>
        ORDER BY create_time desc
    </select>

    <update id="updateWorkUserById" parameterType="com.xingguang.work.baseinfo.entity.WorkUserInfoEntity">
        UPDATE work_user_info
        <set>
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="idNo != null" >
                id_no = #{idNo,jdbcType=VARCHAR},
            </if>
            <if test="sex != null" >
                sex = #{sex,jdbcType=INTEGER},
            </if>
            <if test="provinceId != null" >
                province_id = #{provinceId,jdbcType=BIGINT},
            </if>
            <if test="provinceName != null" >
                province_name = #{provinceName,jdbcType=VARCHAR},
            </if>
            <if test="cityId != null" >
                city_id = #{cityId,jdbcType=BIGINT},
            </if>
            <if test="cityName != null" >
                city_name = #{cityName,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="auditorId != null" >
                auditor_id = #{auditorId,jdbcType=BIGINT},
            </if>
            <if test="auditorName != null" >
                auditor_name = #{auditorName,jdbcType=VARCHAR},
            </if>
            <if test="auditorTime != null" >
                auditor_time = #{auditorTime,jdbcType=TIMESTAMP},
            </if>
            <if test="enableStatus != null" >
                enable_status = #{enableStatus,jdbcType=INTEGER},
            </if>
            <if test="enableId != null" >
                enable_id = #{enableId,jdbcType=BIGINT},
            </if>
            <if test="enableName != null" >
                enable_name = #{enableName,jdbcType=VARCHAR},
            </if>
            <if test="enableTime != null" >
                enable_time = #{enableTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        WHERE id = #{id,jdbcType=BIGINT}
    </update>
</mapper>