<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingguang.utils.cell.mapper.JxlApplicationCheckCellPhoneMapper">
  <resultMap id="BaseResultMap" type="com.xingguang.utils.cell.entity.JxlApplicationCheckCellPhoneEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="rpt_id" jdbcType="BIGINT" property="rptId" />
    <result column="key_value" jdbcType="VARCHAR" property="keyValue" />
    <result column="website" jdbcType="VARCHAR" property="website" />
    <result column="reliability" jdbcType="VARCHAR" property="reliability" />
    <result column="reg_time" jdbcType="VARCHAR" property="regTime" />
    <result column="check_name" jdbcType="VARCHAR" property="checkName" />
    <result column="check_idcard" jdbcType="VARCHAR" property="checkIdcard" />
    <result column="check_ebusiness" jdbcType="VARCHAR" property="checkEbusiness" />
  </resultMap>

  <delete id="deleteCheckCellPhoneByRptId" parameterType="java.lang.Long">
    DELETE FROM jxl_application_check_cellphone WHERE rpt_id=#{rptId}
  </delete>

  <insert id="insertCheckCellPhone" parameterType="com.xingguang.utils.cell.entity.JxlApplicationCheckCellPhoneEntity" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO jxl_application_check_cellphone (rpt_id, key_value, website, reliability, reg_time, check_name, check_idcard, check_ebusiness)
    VALUES ( #{rptId}, #{keyValue}, #{website}, #{reliability}, #{regTime}, #{checkName}, #{checkIdcard}, #{checkEbusiness})
  </insert>

</mapper>