<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingguang.utils.cell.mapper.JxlContactListMapper">
  <resultMap id="BaseResultMap" type="com.xingguang.utils.cell.entity.JxlContactListEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="rpt_id" jdbcType="BIGINT" property="rptId" />
    <result column="phone_num" jdbcType="VARCHAR" property="phoneNum" />
    <result column="phone_num_loc" jdbcType="VARCHAR" property="phoneNumLoc" />
    <result column="contact_name" jdbcType="VARCHAR" property="contactName" />
    <result column="needs_type" jdbcType="VARCHAR" property="needsType" />
    <result column="call_cnt" jdbcType="INTEGER" property="callCnt" />
    <result column="call_len" jdbcType="DECIMAL" property="callLen" />
    <result column="call_out_cnt" jdbcType="INTEGER" property="callOutCnt" />
    <result column="call_out_len" jdbcType="DECIMAL" property="callOutLen" />
    <result column="call_in_cnt" jdbcType="INTEGER" property="callInCnt" />
    <result column="call_in_len" jdbcType="DECIMAL" property="callInLen" />
    <result column="p_relation" jdbcType="VARCHAR" property="pRelation" />
    <result column="contact_1w" jdbcType="INTEGER" property="contact_1w" />
    <result column="contact_1m" jdbcType="INTEGER" property="contact_1m" />
    <result column="contact_3m" jdbcType="INTEGER" property="contact_3m" />
    <result column="contact_3m_plus" jdbcType="INTEGER" property="contact_3m_plus" />
    <result column="contact_early_morning" jdbcType="INTEGER" property="contactEarlyMorning" />
    <result column="contact_morning" jdbcType="INTEGER" property="contactMorning" />
    <result column="contact_noon" jdbcType="INTEGER" property="contactNoon" />
    <result column="contact_afternoon" jdbcType="INTEGER" property="contactAfternoon" />
    <result column="contact_night" jdbcType="INTEGER" property="contactNight" />
    <result column="contact_all_day" jdbcType="INTEGER" property="contactAllDay" />
    <result column="contact_weekday" jdbcType="INTEGER" property="contactWeekday" />
    <result column="contact_weekend" jdbcType="INTEGER" property="contactWeekend" />
    <result column="contact_holiday" jdbcType="INTEGER" property="contactHoliday" />
  </resultMap>

  <delete id="deleteContactListByRptId" parameterType="java.lang.Long">
    DELETE FROM jxl_contact_list WHERE rpt_id=#{rptId}
  </delete>

  <insert id="insertContactList" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO jxl_contact_list
    (rpt_id, phone_num, phone_num_loc,contact_name, needs_type, call_cnt, call_len, call_out_cnt, call_out_len,
    call_in_cnt, call_in_len, p_relation, contact_1w, contact_1m, contact_3m, contact_3m_plus, contact_early_morning,
    contact_morning, contact_noon, contact_afternoon, contact_night, contact_all_day,
    contact_weekday, contact_weekend, contact_holiday)
    VALUES
    <foreach collection="list" index="index" item="contact" separator=",">
      ( #{contact.rptId}, #{contact.phoneNum}, #{contact.phoneNumLoc}, #{contact.contactName}, #{contact.needsType}
      , #{contact.callCnt}, #{contact.callLen}, #{contact.callOutCnt}, #{contact.callOutLen}, #{contact.callInCnt}
      , #{contact.callInLen}, #{contact.pRelation}, #{contact.contact_1w}, #{contact.contact_1m}, #{contact.contact_3m}
      , #{contact.contact_3m_plus}, #{contact.contactEarlyMorning}, #{contact.contactMorning}, #{contact.contactNoon}
      , #{contact.contactAfternoon}, #{contact.contactNight}, #{contact.contactAllDay}, #{contact.contactWeekday}
      , #{contact.contactWeekend}, #{contact.contactHoliday})
    </foreach>
  </insert>

</mapper>